//Container
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 264px;
  height: 100%;

  background-color: red;
}

  // ***********************************************
  //                   SIDENAV
  // ***********************************************

.sidenav {
  width: 64px;
  height: 100%;

  background-color: #212325;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;

  .header {
    width: 64px;
    height: 50%;

    .home {
      fill: #747681;
      border-left: 2px solid #747681;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 64px;
    height: 50%;

    .language {
      cursor: pointer;
      margin-top: 8px;
      margin-bottom: 24px;
    }
    .language:hover {
      opacity: 0.6;
    }
  }
}

  // ***********************************************
  //                    SUBMENU
  // ***********************************************

.subnav {
  width: 200px;
  height: 100%;

  background-color: #2A2D33;
  border-right: 2px solid #212325;

  .explorer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 200px;
    height: 48px;

    background-color: #2A2D33;
    border-bottom: 1px solid #212325;

    .text {
      color: #747681;
    }

    .more {
      height: 24px;
      width: 24px;
      stroke: #A6A8B5;
    }
  }

  // ***********************************************
  //                   EDITORS
  // ***********************************************
  .selector {
    display: flex;
    flex-direction: column;

    width: 200px;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;

      width: 200px;
      height: 24px;

      .text {
        color: #53555E;
        font-size: 16px;
      }
      .arrow {
        fill: #53555E;
      }
    }

    .list {
      display: flex;
      flex-direction: column;

      width: 200px;

      .item {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        width: 176px;
        height: 24px;

        cursor: pointer;
        padding: 0px 12px 0px 12px;

        .cross {
          cursor: pointer;
        }

        .filename {
          width: 100px;
        }
      }

      .item:hover {
        background-color: #303338;

        .cross {
          fill: #A6A8B5;
        }
      }

      .selected {
        color: #D8BA1F;

        .cross {
          fill: #D8BA1F;
        }
      }

      .selected:hover {
        color: #D8BA1F;

        .cross {
          fill: #D8BA1F;
        }
      }
    }
  }

  // ***********************************************
  //                    FILES
  // ***********************************************
  .files {
    display: flex;
    flex-direction: column;

    width: 200px;

    //Header
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;

      width: 200px;
      height: 24px;

      .text {
        color: #53555E;
        font-size: 16px;
      }
      .arrow {
        fill: #53555E;
      }
    }

    .list {
      display: flex;
      flex-direction: column;

      width: 200px;

      .item {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        width: 176px;
        height: 24px;

        cursor: pointer;
        padding: 0px 12px 0px 12px;

        .cross {
          cursor: pointer;
        }

        .filename {
          width: 148px;
        }
      }

      .item:hover {
        background-color: #303338;

        .cross {
          fill: #A6A8B5;
        }
      }

      .selected {
        color: #D8BA1F;

        .cross {
          fill: #D8BA1F;
        }
      }

      .selected:hover {
        color: #D8BA1F;

        .cross {
          fill: #D8BA1F;
        }
      }
    }
  }
}
