<div class="container">
    <!-- Import interface line -->
    <div class="line">
        <p class="line-number">1</p>
        <p class="command">import</p>
        <p class="bracket">{{ '{' }}</p>
        <p class="var-name" *ngIf="tabsService.language == 'en'">SocialNetwork</p>
        <p class="var-name" *ngIf="tabsService.language == 'fr'">RéseauSocial</p>
        <p class="bracket">{{ '}' }}</p>
        <p class="command">from</p>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content" *ngIf="tabsService.language == 'en'">../interfaces/social-network</p>
            <p class="content" *ngIf="tabsService.language == 'fr'">../interfaces/reseau-social</p>
            <p class="symbol">";</p>
        </div>
    </div>
    <!-- Empty line -->
     <div class="line">
        <p class="line-number">2</p>
    </div>
    <!-- Export class line -->
    <div class="line">
        <p class="line-number">3</p>
        <p class="command">export</p>
        <p class="class">class</p>
        <p class="class-name">Contact</p>
        <p class="bracket">{{ '{' }}</p>
    </div>
    <!-- Assignation -->
    <div class="line">
        <p class="line-number">3</p>
        <div class="tabulation"></div>
        <p class="var-name" *ngIf="tabsService.language == 'en'">email</p>
        <p class="var-name" *ngIf="tabsService.language == 'fr'">adresseMail</p>
        <p class="operator">=</p>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">contact@ugotheveny.dev</p>
            <p class="symbol">";</p>
        </div>
    </div>
    <!-- Empty line -->
    <div class="line">
        <p class="line-number">19</p>
    </div>
    <!-- Array declaration -->
    <div class="line">
        <p class="line-number">20</p>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">socialNetworks</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">réseauxSociaux</p>
            <p class="operator">:</p>
        </div>
        <div class="array">
            <p class="class" *ngIf="tabsService.language == 'en'">SocialNetwork</p>
            <p class="class" *ngIf="tabsService.language == 'fr'">RéseauSocial</p>
            <p class="operator">[]</p>
        </div>
        <p class="operator">=</p>
        <p class="operator">[</p>
    </div>
    <!-- Bracket open line -->
    <div class="line">
        <p class="line-number">21</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="class">{{ '{' }}</p>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">22</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">name</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">nom</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">Linkedin</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">22</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">url</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">lien</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <a class="content" href="https://www.linkedin.com/in/ugo-theveny/">https://www.linkedin.com/in/ugo-theveny/</a>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Bracket close/open line -->
    <div class="line">
        <p class="line-number">23</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="class">{{ '}, {' }}</p>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">24</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">name</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">nom</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">Github</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">25</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">url</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">lien</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <a class="content" href="https://github.com/S-i-d-V">https://github.com/S-i-d-V</a>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Bracket close line -->
    <div class="line">
        <p class="line-number">26</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="class">{{ '}' }}</p>
    </div>
    <!-- Array en of declaration -->
    <div class="line">
        <p class="line-number">27</p>
        <div class="tabulation"></div>
        <div class="close-tab">
            <p class="operator">]</p>
            <p class="symbol">;</p>
        </div>
    </div>
    <!-- End of brackets -->
    <div class="line">
        <p class="line-number">28</p>
        <p class="bracket">}</p>
    </div>
</div>