<div class="container">
    <!-- Import interface line -->
    <div class="line">
        <p class="line-number">1</p>
        <p class="command">import</p>
        <p class="bracket">{{ '{' }}</p>
        <p class="var-name" *ngIf="tabsService.language == 'en'">Language</p>
        <p class="var-name" *ngIf="tabsService.language == 'fr'">Langue</p>
        <p class="bracket">{{ '}' }}</p>
        <p class="command">from</p>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content" *ngIf="tabsService.language == 'en'">../interfaces/language</p>
            <p class="content" *ngIf="tabsService.language == 'fr'">../interfaces/langue</p>
            <p class="symbol">";</p>
        </div>
    </div>
    <!-- Empty line -->
     <div class="line">
        <p class="line-number">2</p>
    </div>
    <!-- Export class line -->
    <div class="line">
        <p class="line-number">3</p>
        <p class="command">export</p>
        <p class="class">class</p>
        <p class="class-name" *ngIf="tabsService.language == 'en'">Skills</p>
        <p class="class-name" *ngIf="tabsService.language == 'fr'">Compétences</p>
        <p class="bracket">{{ '{' }}</p>
    </div>
    <!-- Array declaration -->
    <div class="line">
        <p class="line-number">4</p>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name">technologies</p>
            <p class="operator">:</p>
        </div>
        <div class="array">
            <p class="class">String</p>
            <p class="operator">[]</p>
        </div>
        <p class="operator">=</p>
        <p class="operator">[</p>
    </div>
    <!-- Comment -->
    <div class="line">
        <p class="line-number">5</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="comment" *ngIf="tabsService.language == 'en'">//Tools</p>
        <p class="comment" *ngIf="tabsService.language == 'fr'">//Outils</p>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">6</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">Git</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">7</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">Docker</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Comment -->
    <div class="line">
        <p class="line-number">8</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="comment" *ngIf="tabsService.language == 'en'">//Programming languages</p>
        <p class="comment" *ngIf="tabsService.language == 'fr'">//Languages de programmation</p>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">9</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">C</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">10</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">C++</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">11</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">HTML</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">12</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">CSS</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">13</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">Typescript</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">14</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">AngularJS</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">15</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">NestJS</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Comment -->
    <div class="line">
        <p class="line-number">16</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="comment">//Web design</p>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">17</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">Figma</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Array en of declaration -->
    <div class="line">
        <p class="line-number">18</p>
        <div class="tabulation"></div>
        <div class="close-tab">
            <p class="operator">]</p>
            <p class="symbol">;</p>
        </div>
    </div>
    <!-- Empty line -->
    <div class="line">
        <p class="line-number">19</p>
    </div>
    <!-- Array declaration -->
    <div class="line">
        <p class="line-number">20</p>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">languages</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">langues</p>
            <p class="operator">:</p>
        </div>
        <div class="array">
            <p class="class" *ngIf="tabsService.language == 'en'">Language</p>
            <p class="class" *ngIf="tabsService.language == 'fr'">Langue</p>
            <p class="operator">[]</p>
        </div>
        <p class="operator">=</p>
        <p class="operator">[</p>
    </div>
    <!-- Bracket open line -->
    <div class="line">
        <p class="line-number">21</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="class">{{ '{' }}</p>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">22</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">name</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">nom</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content" *ngIf="tabsService.language == 'en'">French</p>
            <p class="content" *ngIf="tabsService.language == 'fr'">Français</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">22</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">level</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">niveau</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content" *ngIf="tabsService.language == 'en'">Native</p>
            <p class="content" *ngIf="tabsService.language == 'fr'">Langue natale</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Bracket close/open line -->
    <div class="line">
        <p class="line-number">23</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="class">{{ '}, {' }}</p>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">24</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">name</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">nom</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content" *ngIf="tabsService.language == 'en'">English</p>
            <p class="content" *ngIf="tabsService.language == 'fr'">Anglais</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">25</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">level</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">niveau</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content" *ngIf="tabsService.language == 'en'">Professional technical</p>
            <p class="content" *ngIf="tabsService.language == 'fr'">Professionel technique</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Bracket close line -->
    <div class="line">
        <p class="line-number">26</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="class">{{ '}' }}</p>
    </div>
    <!-- Array en of declaration -->
    <div class="line">
        <p class="line-number">27</p>
        <div class="tabulation"></div>
        <div class="close-tab">
            <p class="operator">]</p>
            <p class="symbol">;</p>
        </div>
    </div>
    <!-- End of brackets -->
    <div class="line">
        <p class="line-number">28</p>
        <p class="bracket">}</p>
    </div>
</div>