.container {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

  // ***********************************************
  //                   SELECTOR
  // ***********************************************

.selector {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  overflow-y: hidden;
  overflow-x: auto;
  // Chrome, Safari, Opera
  ::-webkit-scrollbar {
    display: none;
  }
  // Firefox, IE and Edge
  -ms-overflow-style: none;
  scrollbar-width: none;

  height: 48px;
  width: 100%;

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 48px;
    width: 176px;
    padding: 0px 12px 0px 12px;

    cursor: pointer;

    .filename {
      width: 120px;
    }
  }

  .item:hover {
    border-bottom: 2px solid #53555E;

    .cross {
      fill: #747681;
    }

    .cross:hover {
      background-color: #2A2D33;
      border-radius: 5%;
      fill: #A6A8B5;
    }
  }

  .selected {
    color: #D8BA1F;
    border-bottom: 2px solid #D8BA1F;

    .cross {
      fill: #D8BA1F;
    }
  }

  .selected:hover {
    color: #D8BA1F;
    border-bottom: 2px solid #D8BA1F;

    .cross {
      fill: #D8BA1F;
    }

    .cross:hover {
      fill: #D8BA1F;
    }
  }
}

  // ***********************************************
  //                      TAB
  // ***********************************************

.tab {
  height: calc(100% - 48px);
  width: 100%;
}
