<div class="container">
    <!-- Import interface line -->
    <div class="line">
        <p class="line-number">1</p>
        <p class="command">import</p>
        <p class="bracket">{{ '{' }}</p>
        <p class="var-name" *ngIf="tabsService.language == 'en'">Job</p>
        <p class="var-name" *ngIf="tabsService.language == 'fr'">Métier</p>
        <p class="bracket">{{ '}' }}</p>
        <p class="command">from</p>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content" *ngIf="tabsService.language == 'en'">../interfaces/job</p>
            <p class="content" *ngIf="tabsService.language == 'fr'">../interfaces/metier</p>
            <p class="symbol">";</p>
        </div>
    </div>
    <!-- Empty line -->
     <div class="line">
        <p class="line-number">2</p>
    </div>
    <!-- Export class line -->
    <div class="line">
        <p class="line-number">3</p>
        <p class="command">export</p>
        <p class="class">class</p>
        <p class="class-name" *ngIf="tabsService.language == 'en'">Experience</p>
        <p class="class-name" *ngIf="tabsService.language == 'fr'">Éxperience</p>
        <p class="bracket">{{ '{' }}</p>
    </div>
    <!-- Array declaration -->
    <div class="line">
        <p class="line-number">4</p>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">jobs</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">jobs</p>
            <p class="operator">:</p>
        </div>
        <div class="array">
            <p class="class" *ngIf="tabsService.language == 'en'">Job</p>
            <p class="class" *ngIf="tabsService.language == 'fr'">Métier</p>
            <p class="operator">[]</p>
        </div>
        <p class="operator">=</p>
        <p class="operator">[</p>
    </div>
    <!-- Bracket open line -->
    <div class="line">
        <p class="line-number">5</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="class">{{ '{' }}</p>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">6</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">title</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">titre</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content" *ngIf="tabsService.language == 'en'">Apprentice cook</p>
            <p class="content" *ngIf="tabsService.language == 'fr'">Apprenti cuisinier</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">7</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">company</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">entreprise</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">La Bauhinia</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">8</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">location</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">ville</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">Paris</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">9</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">year</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">année</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">2017</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Bracket close/open line -->
    <div class="line">
        <p class="line-number">10</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="class">{{ '}, {' }}</p>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">11</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">title</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">titre</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content" *ngIf="tabsService.language == 'en'">Versatile Teammate</p>
            <p class="content" *ngIf="tabsService.language == 'fr'">Équipier polyvalent</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">12</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">company</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">entreprise</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">McDonald's</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">13</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">location</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">ville</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">Montigny-les-Cormeilles</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">14</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">year</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">année</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">2018</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Bracket close/open line -->
    <div class="line">
        <p class="line-number">15</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="class">{{ '}, {' }}</p>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">16</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">title</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">titre</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content" *ngIf="tabsService.language == 'en'">Head Waiter</p>
            <p class="content" *ngIf="tabsService.language == 'fr'">Chef de rang</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">17</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">company</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">entreprise</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">Au Bureau</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">18</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">location</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">ville</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">Franconville</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">19</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">year</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">année</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">2019</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Bracket close/open line -->
    <div class="line">
        <p class="line-number">20</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="class">{{ '}' }}</p>
    </div>
    <!-- Array en of declaration -->
    <div class="line">
        <p class="line-number">21</p>
        <div class="tabulation"></div>
        <div class="close-tab">
            <p class="operator">]</p>
            <p class="symbol">;</p>
        </div>
    </div>
    <!-- End of brackets -->
    <div class="line">
        <p class="line-number">22</p>
        <p class="bracket">{{ '}' }}</p>
    </div>
</div>