<div class="container">
    <!-- Import interface line -->
    <div class="line">
        <p class="line-number">1</p>
        <p class="command">import</p>
        <p class="bracket">{{ '{' }}</p>
        <p class="var-name" *ngIf="tabsService.language == 'en'">School</p>
        <p class="var-name" *ngIf="tabsService.language == 'fr'">École</p>
        <p class="bracket">{{ '}' }}</p>
        <p class="command">from</p>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content" *ngIf="tabsService.language == 'en'">../interfaces/school</p>
            <p class="content" *ngIf="tabsService.language == 'fr'">../interfaces/ecole</p>
            <p class="symbol">";</p>
        </div>
    </div>
    <!-- Empty line -->
     <div class="line">
        <p class="line-number">2</p>
    </div>
    <!-- Export class line -->
    <div class="line">
        <p class="line-number">3</p>
        <p class="command">export</p>
        <p class="class">class</p>
        <p class="class-name" *ngIf="tabsService.language == 'en'">Education</p>
        <p class="class-name" *ngIf="tabsService.language == 'fr'">Éducation</p>
        <p class="bracket">{{ '{' }}</p>
    </div>
    <!-- Array declaration -->
    <div class="line">
        <p class="line-number">4</p>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">schools</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">écoles</p>
            <p class="operator">:</p>
        </div>
        <div class="array">
            <p class="class" *ngIf="tabsService.language == 'en'">School</p>
            <p class="class" *ngIf="tabsService.language == 'fr'">École</p>
            <p class="operator">[]</p>
        </div>
        <p class="operator">=</p>
        <p class="operator">[</p>
    </div>
    <!-- Bracket open line -->
    <div class="line">
        <p class="line-number">5</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="class">{{ '{' }}</p>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">6</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">title</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">titre</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content" *ngIf="tabsService.language == 'en'">Apprentice cook</p>
            <p class="content" *ngIf="tabsService.language == 'fr'">Apprenti cuisinier</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">7</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">name</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">nom</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">CFA Belliard</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">8</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">location</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">ville</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">Paris</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">9</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">year</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">année</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">2017</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Bracket close/open line -->
    <div class="line">
        <p class="line-number">10</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="class">{{ '}, {' }}</p>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">11</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">title</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">titre</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content" *ngIf="tabsService.language == 'en'">IT Solutions Designer and Developer</p>
            <p class="content" *ngIf="tabsService.language == 'fr'">Architecte en Technologie du Numérique</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">12</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">name</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">nom</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">42</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">13</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">location</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">ville</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">Paris</p>
            <p class="symbol">",</p>
        </div>
    </div>
     <!-- Array assignation -->
     <div class="line">
        <p class="line-number">14</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name" *ngIf="tabsService.language == 'en'">year</p>
            <p class="var-name" *ngIf="tabsService.language == 'fr'">année</p>
            <p class="operator">:</p>
        </div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">2020 - ???</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Bracket close line -->
    <div class="line">
        <p class="line-number">15</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <p class="class">{{ '}' }}</p>
    </div>
    <!-- Array en of declaration -->
    <div class="line">
        <p class="line-number">16</p>
        <div class="tabulation"></div>
        <div class="close-tab">
            <p class="operator">]</p>
            <p class="symbol">;</p>
        </div>
    </div>
    <!-- End of brackets -->
    <div class="line">
        <p class="line-number">16</p>
        <p class="bracket">}</p>
    </div>
</div>